body{
    padding: 0;
    margin: 0;
    font-size: 18px;
}

*{
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    transition: .2s linear;  
}
