.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: -1;
  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

    &-info {
      padding: 90px;
      position: absolute;
      text-transform: uppercase;
      top: 30%;

      h2 {
        color: $white;
        margin-bottom: 28px;
        font-family: "Euclid Flex";
        font-size: 88px;
        font-weight: 500;
        line-height: 84px;
        letter-spacing: 2.50600004196167px;
        text-align: left;
      }
      p {
        color: $white;
        margin-bottom: 43px;
        font-family: "Euclid Circular A";
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  &__video {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
}
.icons {
  background-color: $white;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 0 170px;
  padding: 60px 150px;
  &__icon {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    p {
      color: $beige;
      text-transform: uppercase;
      font-family: "Euclid Flex";
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.95px;
      text-align: center;
    }
    img {
      height: 62px;
    }
    .icons__shipping {
      height: 42px;
    }
  }
}

.best-sellers {
  background: #ffffff;
  padding-bottom: 30px;
  padding-top: 60px;

  &__head {
    margin-bottom: 60px;
  }
  &__title {
    font-family: "Euclid Flex";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
  }
  &__description {
    color: $bg_color;
    font-size: 30px;
    font-weight: $normal;
    text-transform: capitalize;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
.bs-product {
  font-family: $font_family;
  text-align: center;
  text-transform: uppercase;

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82% 86%;
    margin-bottom: 24px;
    text-align: center;
    transition: 0.2s linear;
    img {
      height: 460px;
    }
  }

  &__one {
    &:hover {
      background-image: url("/img/Bg-micro.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }

  &__reviews {
    direction: rtl;
    display: inline-block;
    margin-right: 3px;
    unicode-bidi: bidi-override;

    input {
      display: none;
    }
    label {
      color: $bg_color;
      cursor: pointer;
      font-size: 20px;
    }
    input:checked ~ label {
      color: #efba87;
    }
  }

  &__title,
  &__reviews,
  &__description,
  &__bottle {
    margin-bottom: 6px;
  }
  &__price {
    font-weight: 600;
    margin-bottom: 28px;
  }
}
.shop-all {
  margin-bottom: 100px;
  text-align: center;
}

.more-ways {
  background-color: #fafafa;
  padding: 60px 0;
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 36px;
  }
  &__title {
    font-family: $font_family;
    h2 {
      color: #101010;
      font-family: "Euclid Flex";
      font-size: 48px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 48px;
      margin-bottom: 12px;
      text-align: left;
      text-transform: uppercase;
    }
    p {
      color: #101010;
      font-family: "Elicit Script";
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 0em;
      line-height: 65px;
      text-align: left;
      text-transform: capitalize;
    }
  }
  &__image {
    text-align: end;
  }
}

.more-cards {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  &__image {
    img {
      height: 390px;
      margin-bottom: 30px;
    }
  }
  &__info {
    h4 {
      font-family: "Euclid Flex";
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 36px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
  }
  &__card {
    position: relative;
  }
  &__overlay {
    align-items: center;
    background: $bg_color;
    display: flex;
    height: 390px;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 390px;
    &:hover {
      opacity: 0.6;
    }
  }
}
